/Java/HolaMundo/target/
/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1/JavaApplication3/nbproject/private/
/Java/Leccion1/JavaApplication3/build/
/Java/Leccion1/Ejercicio_5/nbproject/private/
/Java/Leccion1/Ejercicio_5/build/
/Java/Leccion1/OperadoresAritmeticos/nbproject/private/
/Java/Leccion1/OperadoresAritmeticos/build/
/Java/Leccion1/OperadoresAsignacion/nbproject/private/
/Java/Leccion1/OperadoresAsignacion/build/
/Java/Leccion1/OperadoresUnarios/nbproject/private/
/Java/Leccion1/OperadoresUnarios/build/
/Java/Leccion1/EjercicioLibro/nbproject/private/
/Java/Leccion1/EjercicioLibro/build/
/Java/Leccion1/CuestionarioClase6/nbproject/private/
/Java/Leccion1/CuestionarioClase6/build/
/Java/Leccion2/Leccion2/nbproject/private/
/Java/Leccion2/Leccion2/build/
/Java/Leccion2/Condicional_ejercicio1/nbproject/private/
/Java/Leccion2/Condicional_ejercicio1/build/
/Java/Leccion2/Condicional_ejercicio2/nbproject/private/
/Java/Leccion2/Condicional_ejercicio2/build/
/Java/Leccion2/Condicional_ejercicio3/nbproject/private/
/Java/Leccion2/Condicional_ejercicio3/build/
/Java/Leccion2/Condicional_ejercicio4/nbproject/private/
/Java/Leccion2/Condicional_ejercicio4/build/
